<app-navigation></app-navigation>


<div class="chat">
  <div class="users">
    <app-user-list></app-user-list>
  </div>

  <div class="chat-right">
    <div class="messages" id="messagesContainer" #messagesContainer>
      <div class="message" *ngFor="let message of messages" #messageList>
        <span class="message-timestamp">{{ message.timestamp }}</span>
        <span class="message-author">{{ message.author }}:</span>
        <span class="message-content" [innerHTML]="message.content"></span>
      </div>
    </div>

    <div class="send-message">
      <span class="send-message-username" *ngIf="userService.isLoggedIn">{{ userService.username }}:</span>
      <input
        class="send-message-input"
        type="text"
        #messageContent
        (keyup.enter)="onSendMessage(messageContent.value);messageContent.value=''"
        [disabled]="!userService.isLoggedIn"
        [value]="userService.isLoggedIn ? '' : 'Please login to chat'"
      />
      <button
        type="button"
        class="btn btn-primary send-message-button"
        (click)="onSendMessage(messageContent.value);messageContent.value = ''"
        [disabled]="!userService.isLoggedIn">Send</button>
    </div>
  </div>

</div>
